.heroList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.heroList li {
    display: flex;
    min-width: 300px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
}

.heroList li:hover {
    color: #000;
    background-color: #fff;
}